
<div class="container">
    <div class="row">

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let employee of employees">
                    <td>{{ employee._id }}</td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.phone }}</td>
                    <td>
                        <a href="#" class="btn btn-primary">Edit</a> |
                        <a href="#" class="btn btn-danger">Delete</a>

                    </td>
                </tr>
            </tbody>


        </table>



    </div>
</div>